.container{
  border: 3px solid $second-color;
  background-color: $primary-color;
  border-radius: $border-radius-container;
  padding: 8px;
}

.textArea{
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
}
