@use 'src/variables' as var;

.container{
  border: 3px solid darkgrey;
  background-color: white;
  border-radius: var.$border-radius-container;
  padding: 8px;
}

.textArea{
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
}
