@mixin tablePropertyUnit{
  display: flex;
  align-items: center;
  border-right: 1px solid $second-color;
  padding: 8px;
  color: gray;
}

.container{
  span{
    user-select: none;
  }

  .properties{
    display: flex;
    border-top: 1.8px solid $second-color;
    border-bottom: 1.8px solid $second-color;
    width: 100%;

    .title,
    .folder,
    .created,
    .type,
    .bookmark {
      @include tablePropertyUnit;
    }

    .title { width: 24%; }
    .folder { width: 15%; }
    .created { width: 30%; }
    .type { width: 15%; }
    .bookmark {
      width: 15%;
      border-right: none;
    }
  }

  .createNote{
    @include tablePropertyUnit;
    border-bottom: 1.8px solid $second-color;
    border-right: none;
    cursor: pointer;
  }

  .table{
    display: flex;
    flex-direction: column;
  }
}
