.inputContainer{
  display: flex;
  justify-content: space-around;
  min-width: 100px;
  min-height: 48px;
  border-radius: 48px;
  background-color: $primary-color;
  border: 3px solid $second-color;
  transition: 0.2s all;

  &.focused{
    border-color: gray;
  }
}

.input{
  outline: none;
  border: none;
  width: 90%;
  border-radius: 32px;
  padding: 0 8px;
}

.submit{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 10%;
  cursor: pointer;

  span{
    font-size: 300%;
    color: $second-color;
    transition: 0.2s color;

    &.focused{
      color: $hover-color;
    }
  }
}
